* {
  box-sizing: border-box;
}

.frame2120455056 {
  display: flex;
  align-items: center;
  background: #feefc9;
  width: 360px;
  height: 720px;
  overflow: hidden;

  .group34 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    margin-right: -104px;
    margin-left: -103px;
    padding: 69px 67px 178px 103px;
    background-image: url(../image/mefffq8q-3z0izks.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .autoWrapper {
      position: relative;
      width: 360px;
      height: 54px;

      .frame {
        position: absolute;
        bottom: -14px;
        left: 35px;
        width: 36px;
        height: 36px;
      }

      .statusBar {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        padding: 18px 16px 14px 35px;
        width: 360px;
        height: 54px;

        .time {
          line-height: 22px;
          letter-spacing: 0;
          color: #333333;
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 600;
        }

        .cellularConnection {
          margin-top: 5px;
          margin-left: 194px;
          width: 19px;
          height: 12px;
        }

        .wifi {
          margin-top: 5px;
          margin-left: 7px;
          width: 17px;
          height: 12px;
        }

        .battery {
          margin-top: 5px;
          margin-left: 7px;
          width: 27px;
          height: 13px;
        }
      }
    }

    .autoWrapper3 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 26px;
      padding-right: 0;
      padding-left: 35px;

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 48px;

        .frame2 {
          width: 36px;
          height: 36px;
        }

        .frame3 {
          margin-top: 60px;
          width: 36px;
          height: 36px;
        }
      }

      .frame4 {
        margin-left: 49px;
        width: 36px;
        height: 36px;
      }

      .group33 {
        position: relative;
        margin-top: 2px;
        margin-left: 24px;
        width: 217px;
        height: 209px;

        .ellipse5 {
          position: absolute;
          top: 13px;
          left: 21px;
          outline-width: 4px;
          outline-style: solid;
          outline-color: #feb322;
          border-radius: 50%;
          background: #ffffff;
          width: 196px;
          height: 196px;
        }

        .image471 {
          position: absolute;
          top: 0;
          left: -1px;
          width: 217px;
          height: 209px;
        }
      }
    }

    .group35 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin: 15px 61px 0px 24px;

      .text2 {
        flex-shrink: 0;
        align-self: stretch;
        opacity: 0.5;
        line-height: 22px;
        letter-spacing: 0;
        color: #333333;
        font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .frame2120455053 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 16px 0px 16px 16px;
        box-shadow: 0px 4px 4px 0px #665b3a1a;
        background: #feb322;
        padding: 16px;
        row-gap: 10px;

        .text {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 22px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 700;
        }
      }

      .frame2120455054 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 73px;
        border-radius: 8px;
        background: #ffffff;
        padding: 16px;
        row-gap: 10px;
      }

      .frame2120455055 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 12px;
        border-radius: 8px;
        background: #ffffff;
        padding: 16px;
        row-gap: 10px;
      }

      .frame2120455050 {
        display: flex;
        align-items: center;
        column-gap: 16px;
        margin-top: 12px;
        border-radius: 16px;
        width: 312px;

        .frame2120455043 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid #ff9f25;
          border-radius: 8px;
          background: #ffffff;
          padding: 5px 11px;
          height: 48px;
          overflow: hidden;

          .text3 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: #ff9f25;
            font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 700;
          }
        }

        .frame21204550432 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 8px;
          background: #ff9f25;
          padding: 6px 12px;
          height: 48px;
          overflow: hidden;

          .text4 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: #333333;
            font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
